<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo justify-content-between">
  <logo>
    <a class="navbar-brand" routerLink="/">Pizza Ordering</a>
  </logo>
  <links>
    <form class="form-inline waves-light mx-auto" mdbWavesEffect>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Search" name="email">
        <i class="fa fa-search"></i>
      </div>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/cart" mdbWavesEffect (click)="badgeVisible =!badgeVisible">
          <span class="badge green" *ngIf="badgeVisible">3</span> Cart
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
