<div>
  <div class="card" @flyInOut>
    <div class="view overlay waves-light" mdbWavesEffect>
      <img class="img-fluid" [src]="pictureData.img">
    </div>
    <div class="card-body">
      <a class="btn-floating btn-action ml-auto mr-4 primary-color lighten-3 waves-light" mdbWavesEffect (click)='openSnackbar()'>
        <i class="fa fa-plus pl-1 waves-light" mdbWavesEffect></i>
      </a>
      <h4 class="card-title">{{pictureData.title}}</h4>
      <p class="card-title">$20.00</p>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
