<div>
  <div class="card" @flyInOut>
    <div class="view overlay waves-light" mdbWavesEffect>
      <img class="img-fluid" [src]="pizzaDetails.image">
    </div>
    <div class="card-body">
      <a class="btn-floating btn-action ml-auto mr-4 primary-color lighten-3 waves-light" mdbWavesEffect (click)='openSnackbar()'>
        <i class="fa fa-plus pl-1 waves-light" mdbWavesEffect></i>
      </a>
      <h4 class="card-title">{{pizzaDetails.name}}</h4>
      <p class="card-title">{{pizzaDetails.price | currency}}</p>
      <p class="card-text">Ingredients: {{pizzaDetails.ingredients.join(', ')}}</p>
    </div>
  </div>
</div>