<!-- <div class="order-wrapper">
  <mat-card @flyInOut>
    <img class="img" [src]="pictureData.img">
    <mat-card-title>
      <span>{{pictureData.title}}</span>
    </mat-card-title>
    <mat-card-subtitle>100</mat-card-subtitle>
    <mat-card-content>
      <div>Ingredients</div>
    </mat-card-content>
    <mat-card-actions layout="row" layout-align="start center">
      <button mat-raised-button color="primary" (click)="openSnackbar()">
        <mat-icon class="material-icons">add</mat-icon>
        Add to Cart
      </button>
    </mat-card-actions>
  </mat-card>
</div> -->
