<div class="row" *ngIf="orders.length">
  <div class="card m-auto" *ngFor="let order of orders" @flyInOut>
    <div class="card-body">
      <div class="row">
        <div class="col-xl-3 col-md-4 col-sm-12 img-container">
          <img class="img-fluid" src="{{order.image}}">
        </div>
        <div class="col-xl-6 col-md-4 col-sm-10">
          <h4 class="card-title">{{order.name}}</h4>
          <p class="card-text">
            <button class="btn btn-outline-primary qty-btn" mdbWavesEffect (click)="addQty(order)">
              <i class="fa fa-plus"></i>
            </button>
            <span class="qty-value"> {{order.qty}} </span>
            <button class="btn btn-outline-primary qty-btn" mdbWavesEffect (click)="removeQty(order)">
              <i class="fa fa-minus"></i>
            </button>
          </p>
          <p class="card-text">
            {{order.ingredients.join(', ')}}
          </p>
        </div>
        <div class="col-xl-2 col-md-2 v-middle">
          <h6>Total</h6>
          <h4>{{order.price * order.qty | currency}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row total-row" *ngIf="orders.length">
  <div class="card m-auto" @flyInOut>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <span class="float-left">Subtotal</span>
          <span class="float-right">{{subTotal | currency}}</span>
        </div>
        <div class="col-12">
          <span class="float-left">Tax1</span>
          <span class="float-right">{{(subTotal * tax / 100) | currency}}</span>
        </div>
        <div class="col-12 text-red" *ngIf="discountApplied">
          <span class="float-left">Discount</span>
          <span class="float-right">- {{discountApplied}}</span>
        </div>
        <div class="col-12 font-weight-bold">
          <span class="float-left">Grand Total</span>
          <span class="float-right">{{grandTotal | currency}}</span>
        </div>
        <div class="col-12 text-center">
          <button class="btn btn-outline-primary qty-btn" mdbWavesEffect data-toggle="modal" data-target="#discount" (click)="discount.show()">Manage Discounts</button>
          <button class="btn btn-outline-primary qty-btn" mdbWavesEffect data-toggle="modal" data-target="#orderComplete" (click)="placeOrder()">Place Order</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="no-results" *ngIf="!orders.length">
  <h3 class="text-purple text-center"> No Orders Found. Try Adding something from Home Page?</h3>
</div>

<div mdbModal #discount="mdb-modal" class="modal fade bottom" id="frameModalBottom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-frame modal-bottom" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="md-form">
          <input mdbInputDirective type="text" class="form-control" [(ngModel)]="discountCode">
          <label class="">Discount Code</label>
        </div>
        <div class="row px-4">
          <button type="button" class="btn btn-primary waves-light" data-dismiss="modal" (click)="applyDiscount()" mdbWavesEffect>Apply!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div mdbModal #orderComplete="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" (onHidden)="onHidden()">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Success</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="orderComplete.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
          <p>Congratulations! your order will be delivered in 30 minutes...</p>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-secondary waves-light" mdbWavesEffect (click)="orderComplete.hide()">Awesome!</a>
      </div>
    </div>
  </div>
</div>
