/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body { margin: 0; }
* {
    font-family: 'calibri', 'Times New Roman', Times, serif; 
}

.no-results{
    min-height: calc(100vh - 10em);
    min-width: 100%;
    display: flex;
}

.no-results h3{
    align-self: center;
    margin: 0 auto;
}